<app-container>
  <app-title title="Title of the title component" />
  <app-conditional-content>
    <p>Content to hide!</p>
  </app-conditional-content>
  <p class="footer">It's footer</p>
  <h1 class="header">Hello from container!</h1>
  <div sidebar>
    <span>I am sidebar</span>
  </div>
</app-container>

<!--<app-parent />-->

<!--<div [ngClass]="{'is-active': isActive}">I should be active or not depending on class</div>-->

<!--<div *ngIf="shouldBeVisible">Lorem Ipsum</div>-->

<!--@if(shouldBeVisible) {-->
<!--  <div>Lorem Ipsum 2</div>-->
<!--}-->

<!--@switch (isLoggedIn) {-->
<!--  @case(true) {-->
<!--    <h1>You are logged in</h1>-->
<!--  }-->
<!--  @case(false) {-->
<!--    <h1>You are not logged in</h1>-->
<!--  }-->
<!--  @default {-->
<!--    <h1>Unknown login state</h1>-->
<!--  }-->
<!--}-->

<!--<div *ngFor="let user of users; trackBy: trackUsersFn">{{user.name}}</div>-->

<!--<ul>-->
<!--  @for (user of users; track user.id) {-->
<!--    <li>{{user.name}}</li>-->
<!--  }-->
<!--</ul>-->
